### Localization
d-i debian-installer/locale string de_DE
d-i keyboard-configuration/xkb-keymap select de

### Network configuration
d-i netcfg/choose_interface select auto

### Hostname and domain
d-i netcfg/get_hostname string DebianTemplate
d-i netcfg/get_domain string .

### Mirror settings
d-i mirror/protocol string https
d-i mirror/country string manual
d-i mirror/https/hostname string deb.debian.org
d-i mirror/https/directory string /debian
d-i mirror/https/proxy string

### Account setup
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password 7CZCsCWaGroTELSsWRYj8ZtkK7GZnkLixzz5kPwb333h4sNSpvSehJi9xEi2tLD2E
d-i passwd/root-password-again password 7CZCsCWaGroTELSsWRYj8ZtkK7GZnkLixzz5kPwb333h4sNSpvSehJi9xEi2tLD2E
d-i preseed/late_command string in-target mkdir -p /root/.ssh; printf "%s\n" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAnfzAhqbpw1uwPr6MK0xc1Cv8AGh/BM+Fl0cUTafEFB leon@nixarchitect" >> /target/root/.ssh/authorized_keys; in-target sed -i '/PermitRootLogin/c\PermitRootLogin yes' /etc/ssh/sshd_config; in-target systemctl restart sshd;

### Clock and time zone setup
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-partitioning/default_label string gpt
d-i partman-auto/expert_recipe string                          \
    boot-root ::                                               \
        200 200 200 free                                       \
            $iflabel{ gpt }                                    \
            method{ efi }                                      \
            format{ }                                          \
        .                                                      \
        1024 1024 1024 linux-swap                              \
            method{ swap }                                     \
            format{ }                                          \
        .                                                      \
        500 10000 -1 btrfs                                     \
            method{ format }                                   \
            format{ }                                          \
            use_filesystem{ }                                  \
            filesystem{ btrfs }                                \
            mountpoint{ / }                                    \
        .
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string python3

d-i openssh-server/permit-root-login boolean true
d-i openssh-server/password-authentication boolean false

### Boot loader installation
d-i grub-installer/bootdev string /dev/vda

### Finishing up the installation
d-i finish-install/reboot_in_progress note
